.swal2-modal {
  padding: 0 !important;
  max-width: 100% !important;
  min-width: 0 !important;
  width: fit-content !important;
  background: transparent !important;
  border-radius: 0 !important;
}
.swal2-html-container {
  margin: 0 !important;
}
.swal2-container {
  padding: 0 !important;
}

.swal2-popup.swal2-toast {
  padding: 0 !important;
  background: transparent;
  box-shadow: 0 0 0 0 !important;
}